.container__big-card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 400px;
    height: 400px;
    margin: 0 1rem;
}
.big-card__picture img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.big-card__title span{
    font-size: .7rem;
    color: #353535;
    padding: .5rem 0;
}
.big-card__title h2{
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.5rem;
}
.big-card__description p{
    font-size: .8rem;
    font-weight: 600;
    color: #585858;
    margin: .7rem 0;
}