<nav class="container__nav-bar">
    <div class="nav-bar__profile-img">
        <a href="https://emilyfas.github.io/portfolio/" target="_blank">  
            <img src="https://avatars.githubusercontent.com/u/115494759?v=4" alt="">
        </a>
       </div>
    <ul>
        <li><a href="https://www.linkedin.com/in/emilly-fernandes" target="_blank">Linkedin</a></li>
        <li><a href="https://github.com/emilyfas" target="_blank">Github</a></li>
        <li><a href="https://twitter.com/emilly_fernads" target="_blank">Twitter</a></li>
    </ul>
</nav>
