<div class="container__small-card">
    <div class="container__small-card-content">
        <div class="small-card__picture">
            <a [routerLink]="['content', Id]">
                <img src="{{ photoCover }}"
                    alt="">
            </a>
        </div>
        <div class="small-card__title">
            <span class="small-card__date">{{ cardDate }}</span>
            <a [routerLink]="['content', Id]">
                <h3>{{ cardTitle }}</h3>
            </a>
        </div>
    </div>
</div>
<div class="small-card__separator">
    <hr>
</div>