.container__small-card{
    width: 400px;
    height: 100px;
}
.container__small-card-content{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    margin: 0 1rem;
}

.small-card__picture img{
    width: 150px;
    height: 100px;
    object-fit: cover;
    filter: grayscale(0%);
}

.small-card__picture img:hover{
    filter: grayscale(100%);
}

.small-card__title{
    padding: 1rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.small-card__title span{
    font-size: .7rem;
    color: #353535;
    padding: .5rem 0;
}

.small-card__title h3{
    font-size: 1.2rem;   
    line-height: 1.5rem;
}

hr{
    width: 400px;
    margin: 1.5rem auto;
    border-color: #1d1d1d;
}