<main>
    <app-nav-bar></app-nav-bar>
    <app-page-title></app-page-title>
<section class="container__articles">
    <div class="articles__main">
        <app-big-card photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4JHouoAdHMIhJgZoa8lUl7cnnLEgWDIuA-g&usqp=CAU" cardDate="Agosto 30, 1975" cardTitle="Beatles alcançam marco mundial de discos vendidos" cardDescription="A bansa sensação do momento The Beatles está conquistando o mundo a musica cada dia mais, a mais nova do grupo foi o marco de mais discos vendidos no mundo, alem de varios premios que eles ganharam este ano com seu album 'The Beatles'"></app-big-card>
 
        <app-big-card photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4JHouoAdHMIhJgZoa8lUl7cnnLEgWDIuA-g&usqp=CAU" cardDate="Agosto 30, 1975" cardTitle="Beatles alcançam marco mundial de discos vendidos" cardDescription="A bansa sensação do momento The Beatles está conquistando o mundo a musica cada dia mais, a mais nova do grupo foi o marco de mais discos vendidos no mundo, alem de varios premios que eles ganharam este ano com seu album 'The Beatles'"></app-big-card>

        <app-big-card photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4JHouoAdHMIhJgZoa8lUl7cnnLEgWDIuA-g&usqp=CAU" cardDate="Agosto 30, 1975" cardTitle="Beatles alcançam marco mundial de discos vendidos" cardDescription="A bansa sensação do momento The Beatles está conquistando o mundo a musica cada dia mais, a mais nova do grupo foi o marco de mais discos vendidos no mundo, alem de varios premios que eles ganharam este ano com seu album 'The Beatles'"></app-big-card>
    </div>

    <div class="articles__others">
        <app-small-card cardDate="Junho 24, 1975" cardTitle="Novo computador com webcam acaba se sair" photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuFXguEyXN1cHssTA9HMi6obxD55CRDzdfKg&usqp=CAU"></app-small-card>
        <app-small-card cardDate="Junho 24, 1975" cardTitle="Novo computador com webcam acaba se sair" photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuFXguEyXN1cHssTA9HMi6obxD55CRDzdfKg&usqp=CAU"></app-small-card>
        <app-small-card cardDate="Junho 24, 1975" cardTitle="Novo computador com webcam acaba se sair" photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuFXguEyXN1cHssTA9HMi6obxD55CRDzdfKg&usqp=CAU"></app-small-card>
        <app-small-card cardDate="Junho 24, 1975" cardTitle="Novo computador com webcam acaba se sair" photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuFXguEyXN1cHssTA9HMi6obxD55CRDzdfKg&usqp=CAU"></app-small-card>
        <app-small-card cardDate="Junho 24, 1975" cardTitle="Novo computador com webcam acaba se sair" photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuFXguEyXN1cHssTA9HMi6obxD55CRDzdfKg&usqp=CAU"></app-small-card>
        <app-small-card cardDate="Junho 24, 1975" cardTitle="Novo computador com webcam acaba se sair" photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuFXguEyXN1cHssTA9HMi6obxD55CRDzdfKg&usqp=CAU"></app-small-card>
        <app-small-card cardDate="Junho 24, 1975" cardTitle="Novo computador com webcam acaba se sair" photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuFXguEyXN1cHssTA9HMi6obxD55CRDzdfKg&usqp=CAU"></app-small-card>
        <app-small-card cardDate="Junho 24, 1975" cardTitle="Novo computador com webcam acaba se sair" photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuFXguEyXN1cHssTA9HMi6obxD55CRDzdfKg&usqp=CAU"></app-small-card>
        <app-small-card cardDate="Junho 24, 1975" cardTitle="Novo computador com webcam acaba se sair" photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuFXguEyXN1cHssTA9HMi6obxD55CRDzdfKg&usqp=CAU"></app-small-card>
        <app-small-card cardDate="Junho 24, 1975" cardTitle="Novo computador com webcam acaba se sair" photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuFXguEyXN1cHssTA9HMi6obxD55CRDzdfKg&usqp=CAU"></app-small-card>

    </div>
</section>
</main>


